<header>
    <nav>
        <ul>
            <li>
                DragonStore
            </li>
            <li>
                <a href="{{path("app_dragon_index")}}">Home</a>
            </li>
            <li>
                <a href="#">Add Post</a>
            </li>
        </ul>
    </nav>
</header>